<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- *ngFor="let place of places" -->
        <ion-card  class="ion-text-center">
          <ion-card-header>
            <ion-card-title>{{ places[0].title}}</ion-card-title>
            <ion-card-subtitle>{{ places[0].price | currency}} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="places[0].imageUrl"></ion-img>
          <ion-card-content>
            {{ places[0].description}}
          </ion-card-content>
          <div class="ion-padding ion-text-end">
            <ion-button  fill="clear" color="primary"
              [routerLink]="['/', 'places', 'tabs','discover', places[0].id ]" >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let p of places.slice(1)"
          [routerLink]="['/', 'places', 'tabs','discover', p.id ]" detail>
            <ion-thumbnail slot="start">
              <img [src]="p.imageUrl" />
            </ion-thumbnail>
            <ion-label> 
              <h2>{{p.title}}</h2>
              <p>{{p.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
